

.app-container{
    padding: 15px;
    background-color: rgb(213, 211, 211);
    border-radius: 20px;
    max-width: 500px;
    min-height: 650px;
    margin: auto;   
}



.page-heading{
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1px;
   
}
.navbar{
    text-align: center;
    margin-top: -35px;
}
.navbtn{
    padding: 10px;
    margin: px;
    width: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(231, 240, 240);
    border-style: none ;
    border-radius: 4px;
    transition: background-color 0.5s, color 0.5s;
    
    
}

.navbtn:hover{
    background-color:black ;
    color: white;
}
#calcalcbtn{
    box-shadow: 1px 1px 8px;
}

#calorie-calc-page{
   margin-top: 30px;
   text-align: center;
}
#calorie-count-page{
 margin-top: 30px;
   text-align: center;
   display: none;
}
#meal-plan-page{
    text-align: center;
    display: none;
    margin-top: -40px;
}

.statinputsection{
margin-bottom: 15px;
font-family: Arial, Helvetica, sans-serif;

}
.statlabel{
margin-right: 10px;

}
.statform{
    margin-left: 8px;
    width: 100px;
    height:25px;
    font-size: 15px;
    
}
#weight-val{
    margin-left: 2px;
    
}
#age-val{
    margin-left: 7px;
}



#submitstatsm{
    padding: 10px;
    margin: 0px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 128, 235);
    border-style: none ;
    border-radius: 4px;
    transition: background-color 0.5s, color 0.5s, scale 0.1s, width 0.5s ,font-size 0.4s ;

}
#submitstatsf{
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 88, 168);
    border-style: none ;
    border-radius: 4px;
    transition: background-color 0.5s, color 0.5s, scale 0.1s, width 0.4s, font-size 0.4s;
}
#submitstatsm:hover{
    background-color:black ;
    color: white;
}
#submitstatsf:hover{
    background-color:black ;
    color: white;
}
#submitstatsm:active, #submitstatsf:active{
    scale:102%;
    width: 320px;
    font-size: 14px;
}

#calresult, .loss-gain-values{
    font-family: Arial, Helvetica, sans-serif;
}
.calorie-count-page{
font-family: Arial, Helvetica, sans-serif;
margin-top: -40px;

}
#actual-count{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.countformadd, .countformminus{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 10px;
    width: 205px;
    height: 18px;
}
.countformminus{
    padding-right: 6px ;
}
.countformadd{
     padding-left: 6px;
     margin-left: -4px;
}
#addcalbtn{
    background-color: rgb(255, 0, 0);
    transition: scale 0.5s;
}
#addcalbtn:hover, #subcalbtn:hover, #resetbtn:hover{
scale: 110%;
}
#subcalbtn{
    background-color: green;
    padding-left: -4px;
    transition: scale 0.5s;
}
#resetbtn{
    background-color: rgb(69, 69, 249);
    transition: scale 0.5s;
}
#subcalbtn, #resetbtn, #addcalbtn{
    font-weight: bold;
    color: white;
    border-style: none;
    height: 25px;
    border-radius: 4px;
    width: 130px;
}

.foodcatbtn{
    border-style: none;
    padding: 5px;
    border-radius: 20px;
    width: 120px;
    transition: background-color 0.4s ;
}
.daybtn{
    border-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px; 
    width: 55px; 
    transition: color 0.4s, background-color 0.4s;
}
.daybtn:hover{
    background-color: black;
    color: white;
}

.dayloc{
    margin-top: -50px;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: -10px;
    display: none;
}


#veg:hover{
    background-color: green;
}
#nonveg:hover{
    background-color: rgb(179, 0, 0);
}
#egg:hover{
     background-color: rgb(255, 191, 0);
}

#meal-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    flex-flow: wrap;
    
}

.mealcard{
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(213, 211, 211) ;
    max-width: 170px;
    min-width: 170px;
    min-height: 165px;
    max-height: 165px;
    margin: 5px;
    color: white;
    transition: background-color 1s;
    
}

